.h-screen {
  height: calc(100dvh - var(--demo-offset, 0px));
}

.h-\[calc\(100vh-15rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 15rem);
}

.h-\[calc\(100vh-2rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 2rem);
}

.h-\[calc\(100vh-3\.25rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 3.25rem);
}

.h-\[calc\(100vh-6\.5rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 6.5rem);
}

.h-\[calc\(100vh-7\.5rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 7.5rem);
}

.h-\[calc\(100vh-7rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 7rem);
}

.h-\[calc\(100vh-8rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 8rem);
}

.h-\[calc\(100vh-9\.5rem\)\] {
  height: calc(100dvh - var(--demo-offset, 0px) - 9.5rem);
}

.min-h-\[calc\(100vh-6\.5rem\)\] {
  min-height: calc(100dvh - var(--demo-offset, 0px) - 6.5rem);
}
