@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-owners-wide: "Owners Wide", sans-serif;
  --font-owners-text: "Owners Text", sans-serif;

  --breakpoint-md: 60rem;
}

:root {
  color-scheme: light;

  --radius: 0.625rem;

  --background: #ffffff;
  --background-1: #f4f8fb;
  --background-2: #eff1f4;
  --background-3: #e7ebee;
  --background-4: #e1e4e8;
  --background-5: #caced5;

  --content-disabled: #969ea7;
  --content-subdued: #636d78;
  --content-normal: #4e5966;
  --content-muted: #424244;
  --content-loud: #0d171f;

  --primary: #15ba5c;
  --primary-foreground: #ffffff;
  --secondary: #0da4be;
  --secondary-light: #5ec4d7;
  --warning: #d88c08;
  --destructive: #d83661;

  --border: #e0e3e7;
  --input: #87898d;
  --ring: #8594a5;
}

.dark {
  color-scheme: dark;

  --background: #030a11;
  --background-1: #0f1419;
  --background-2: #1d2125;
  --background-3: #282e33;
  --background-4: #33383e;
  --background-5: #3b4148;

  --content-disabled: #50575f;
  --content-subdued: #7b8591;
  --content-normal: #8f9ba9;
  --content-muted: #cbcbcd;
  --content-loud: #ffffff;

  --primary: #77fa98;
  --primary-foreground: #0d0d12;
  --secondary: #77e2fc;
  --secondary-light: #a5edff;
  --warning: #ffac30;
  --destructive: #f45278;

  --border: #242a32;
  --input: #eceff3;
  --ring: #414e5d;
}

:root,
.dark {
  --foreground: var(--content-loud);

  --card: var(--background-2);
  --card-foreground: var(--content-loud);

  --popover: var(--background-2);
  --popover-foreground: var(--content-muted);

  --secondary-foreground: var(--content-loud);

  --muted: var(--content-subdued);
  --muted-foreground: var(--content-normal);

  --accent: var(--background-3);
  --accent-foreground: var(--content-loud);

  --sidebar: var(--background);
  --sidebar-foreground: var(--content-subdued);
  --sidebar-accent: var(--background-2);
  --sidebar-accent-foreground: var(--content-loud);
  --sidebar-border: var(--ring);
  --sidebar-ring: var(--content-disabled);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-background-4: var(--background-4);
  --color-background-5: var(--background-5);
  --color-foreground: var(--foreground);

  --color-content-disabled: var(--content-disabled);
  --color-content-subdued: var(--content-subdued);
  --color-content-normal: var(--content-normal);
  --color-content-muted: var(--content-muted);
  --color-content-loud: var(--content-loud);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-warning: var(--warning);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility underline-slide {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s ease;
    will-change: transform;
  }

  &:hover::after,
  &:focus-visible::after {
    transform: scaleX(1);
  }
}

/* Removes default fade from sonner/toaster */
[data-sonner-toast] {
  opacity: 1 !important;
}

/* Removes default autofill white background in input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
  box-shadow: 0 0 0 1000px var(--background) inset !important;
  -webkit-text-fill-color: var(--content-loud) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Removes default up/down arrows from numeric fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
