@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* Base Styles */
@theme {
  /* Font Families */
  --font-owners-wide: "Owners Wide", sans-serif;
  --font-owners-text: "Owners Text", sans-serif;

  /* Primary/Secondary/Accent/Destructive */
  --color-brand-primary: #77fa98;
  --color-brand-secondary: #77e2fc;
  --color-brand-secondary-dark: #192f34;
  --color-brand-accent: #ffac30;
  --color-brand-destructive: #f45278;

  /* Backgrounds */
  --color-brand-background-main: #030a11;
  --color-brand-background-1: #0f1419;
  --color-brand-background-2: #1d2125;
  --color-brand-background-3: #282e33;
  --color-brand-background-4: #33383e;
  --color-brand-background-5: #3b4148;

  /* Borders */
  --color-brand-border-main: #242a32;
  --color-brand-border-1: #2f3439;
  --color-brand-border-2: #414e5d;
  --color-brand-border-3: #596676;
  --color-brand-border-4: #727f8e;

  /* Neutrals */
  --color-brand-neutral-0: #f8fafb;
  --color-brand-neutral-25: #f6f8fa;
  --color-brand-neutral-50: #eceff3;
  --color-brand-neutral-100: #dfe1e7;
  --color-brand-neutral-200: #c1c7d0;
  --color-brand-neutral-300: #a4acb9;
  --color-brand-neutral-400: #818898;
  --color-brand-neutral-500: #666d80;
  --color-brand-neutral-600: #36394a;
  --color-brand-neutral-700: #272835;
  --color-brand-neutral-800: #1a1b25;
  --color-brand-neutral-900: #0d0d12;

  /* Content Colors */
  --color-content-disabled: #50575f;
  --color-content-subdued: #7b8591;
  --color-content-normal: #8f9ba9;
  --color-content-muted: #cbcbcd;
  --color-content-loud: #ffffff;

  /* Button Colors */
  --color-button-primary: #77fa98;
  --color-button-primary-hover: #5ff07d;
  --color-button-secondary: #0d0d12;
  --color-button-secondary-hover: #ffffff;
  --color-button-destructive: #df1c41;

  /* Toast Colors */
  --color-toast: #0d0d12;
  --color-toast-success: #40c4aa;
  --color-toast-error: #df1c41;
  --color-toast-warning: #ffcd4c;
  --color-toast-info: #5f57ff;

  /* Breakpoints */
  --breakpoint-md: 60rem;

  /* Base Radius */
  --radius: 0.625rem;
}

/* Component Styles */
@theme inline {
  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Background/Foreground */
  --color-background: var(--color-brand-background-main);
  --color-background-1: var(--color-brand-background-1);
  --color-background-2: var(--color-brand-background-2);
  --color-background-3: var(--color-brand-background-3);
  --color-background-4: var(--color-brand-background-4);
  --color-background-5: var(--color-brand-background-5);
  --color-foreground: var(--color-content-loud);

  /* Cards */
  --color-card: var(--color-brand-background-2);
  --color-card-foreground: var(--color-content-loud);

  /* Popovers */
  --color-popover: var(--color-brand-background-2);
  --color-popover-foreground: var(--color-content-muted);

  /* Primary/Secondary/Accent/Destructive */
  --color-primary: var(--color-brand-primary);
  --color-primary-foreground: var(--color-brand-neutral-900);

  --color-secondary: var(--color-brand-secondary);
  --color-secondary-foreground: var(--color-content-loud);

  --color-muted: var(--color-content-subdued);
  --color-muted-foreground: var(--color-content-normal);

  --color-accent: var(--color-background-3);
  --color-accent-foreground: var(--color-content-loud);

  --color-destructive: var(--color-brand-destructive);

  /* Borders/Inputs/Rings */
  --color-border: var(--color-brand-border-main);
  --color-input: var(--color-brand-neutral-50);
  --color-ring: var(--color-brand-border-2);

  /* Other */
  --color-chart-1: var(--color-brand-accent);
  --color-chart-2: var(--color-brand-secondary);
  --color-chart-3: var(--color-brand-destructive);
  --color-chart-4: var(--color-brand-background-3);
  --color-chart-5: var(--color-button-secondary);

  --color-sidebar: var(--color-brand-background);
  --color-sidebar-foreground: var(--color-content-subdued);
  --color-sidebar-primary: var(--color-brand-primary);
  --color-sidebar-primary-foreground: var(--color-brand-neutral-900);
  --color-sidebar-accent: var(--color-background-2);
  --color-sidebar-accent-foreground: var(--color-content-loud);
  --color-sidebar-border: var(--color-brand-border-2);
  --color-sidebar-ring: var(--color-brand-border-3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility underline-slide {
  position: relative;
  text-decoration: none;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
